<%=  erb :defaultheader %>
<% time = Time.new %> 
    
    <main>
        <div id=homeText>
            <h1 class="whiteText">Welcome to The Pizza Shed Sheffield!</h1><br/>
        </div>
            <% if time.wday == 3 %>
                 <img src="corp.png" alt="corp 2 for 1" width="100%">
            <% end %>
        
        <div id=homeText>
            <p>"Bake a better pizza and the world will beat a path to your door.” That maxim has been at the heart of our thinking at Pizza Shed since our founder, Mark Johnson, baked his first pizzas back in 1972 for the customers in his father’s tavern in Indiana.</p>
            <p>What’s the secret of Pizza Shed’s success? Is it preparing a better dough? Using better ingredients? Employing better people? Being committed to delivering ‘a better pizza experience’? Truth is, it’s all of those elements. And together, they help us continue to make Pizza Shed a consistently and reliably ‘Better Pizza’.</p>
            <p>We want the whole world to love our pizzas as much as we do. That’s why we’re all about the attention to detail, the focus on quality, the refusal to compromise on delivering the best pizza (and the best pizza experience) that we possibly can.</p>
            <p>After all, there’s an awful lot of hungry Pizza Shed lovers out there, counting on us to get it right, every time!</p>
        </div>
    </main>

<%= erb :default_footer %> 

